<div class="row h-100 justify-content-center">
    <div class="col pt-4 pb-2">
        <h1>Welcome {{ alias || ''}}!</h1>
        <hr>
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consectetur, felis ac finibus sagittis, dui
            nulla rutrum dui, et tincidunt ante neque non arcu. Vivamus pellentesque erat sed eros consequat
            ullamcorper. Etiam vitae ipsum at turpis tincidunt dignissim ac vel velit. Nam non libero et metus pharetra
            viverra vel nec lacus. Curabitur eget neque tempor, commodo ligula at, imperdiet mauris. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi sed neque et nibh bibendum
            vestibulum et eu dolor.
        </p>
        <p class="text-justify"> Morbi eleifend condimentum lorem, et hendrerit felis semper eu. Vestibulum egestas,
            massa quis euismod hendrerit, erat erat consectetur erat, et fermentum metus nunc eu odio. Maecenas ut velit
            sapien. Vestibulum semper malesuada lacus nec facilisis. Proin ut diam ac odio ullamcorper pharetra.
            Phasellus efficitur turpis est, malesuada posuere elit gravida eget. Praesent accumsan ligula et diam
            aliquet viverra. </p>
    </div>
</div>